DATABASE_URL="postgresql://postgres:admin@localhost:5432/debtlens"
NODE_ENV=development
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3012 # Base URL of your app
VITE_APP_URL=http://localhost:3012 # Base URL of your app
